@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Cookie&family=Genos:ital,wght@0,100..900;1,100..900&family=Iceland&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Megrim&family=Meow+Script&family=Moirai+One&family=Nuosu+SIL&display=swap');
/* There's some sample CSS here which you can use or nuke as you like */

html {
  /* Make #id links scroll smoothly */
  scroll-behavior: smooth;
}

body {
  /* Change to something you like, but please do customize the font! */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  /* reset default margins */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background:linear-gradient(#0a0d36, black);
}

.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  height: 100dvh;
  /* Center the content vertically and horizontally */
  display: grid;
  /* Custom text and stuff */
  background-image: url('vidss/1AJj.gif');
  background-position: center;
  background-size: cover;
  background-repeat: ;
}
.hero a {
  color: white;
  text-decoration: underline;
  text-decoration-color: #c6093b;
}

/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background-image 0.5s;
}
.hero.active {
  background:url('vidss/2151041271.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  font-family: Moirai One;
 
}

.hero.active h1{
  color: black;
  text-shadow: rgb (152,154,141) 1px 0 10px;;
}

h1{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 50px;
  padding-top: 50px;
  font-family: Moirai One;
  color:white;
  font-size: xx-large;
}
main {
  /* Make sure our content can scroll the hero away */
  min-height: 100dvh;
  max-width: 80em; /* choose a width for text */
  line-height: 1.8; /* choose a line spacing */
  font-size: 18px; /* choose a font size */
  margin: 0 auto; /* center the content */
  background:linear-gradient(#0a0d36, black);
  color: white;
  font-family: Moirai One;
}

.tot{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color:transparent;
}
